.quote-container {
  background: #A1FFCE65;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FAFFD165, #A1FFCE65);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FAFFD165, #A1FFCE65); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-left: 5px solid black;
  margin: 10px;
}
.quote-container * {
  margin-left: 8px;
}