.yt-container {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.yt-contianer iframe
.yt-contianer object,
.yt-contianer embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: 'cover';
}