.blog-list-item-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  padding: 5px;
  background: white;
  justify-content: space-between;
  transition: .2s ease-out;
  .blog-list-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    grid-column: 8;
    text-align: center;
  }
  .blog-list-description h2 {
    margin: 0;
  }
  .blog-list-description p {
    font-weight: bold;
    color: gray;
  }
}
.blog-list-item-container:hover {
  box-shadow: 1px 1px 12px 1px greenyellow;
  transform: scale(1.1);
}

@media(max-width: 700px) {
  .blog-list-item-container:hover {
    transform: none;
    box-shadow: 1px solid greenyellow;
  }
}