.projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 18px;
}

@media(max-width: 700px) {
    .projects-container{
        grid-template-rows: repeat(auto-fill, 1fr);
        grid-template-columns: 1fr;
        grid-gap: 10px;
        padding: 0px;
    }
}