.home-screen-container {
    display: grid;
    grid-template-rows: auto auto 1fr;
    .home-bio {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .home-projects {
        overflow: hidden;
    }
}